<ion-content padding>
  <ion-list lines="full">
    <ion-item text-center *ngFor="let film of films">
      <div (click)="show(film.title)">
        <h2>{{ film.title }}</h2>
        <img [src]="film.cover" alt="">
        <div *ngIf="clicked && films[index].title == film.title">
          <p>{{ film.synopsis }}</p>
          <p><b>Lanzamiento:</b>  {{ film.release }}</p>
          <p><b>Puntuación:</b> {{ film.score }}</p>
          <ion-button color="danger" (click)="showDelete(film.title)">
            Eliminar
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
